.App {
  text-align: center;
}

.App .item-todo {
  padding: 16px;
  width: 270px;
  margin: 0 auto;
  text-align: left;
  margin-top: 17px;
  background:  steelblue;;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App input {
  padding: 15px 31px 16px 17px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
}

.App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: steelblue;
  color: #fff;
  text-transform: capitalize;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 20px;
  position: relative;
  left: -5px;
  bottom: 6px;
}

.strike {
  text-decoration: line-through;
}